<main class="lg:w-1/3 mx-auto mb-5 mt-28 ">

    @for (post of posts(); track post.id) {
    <article class="flex flex-col gap-3 p-4 mt-4 bg-white rounded-md">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-3">
                <img class="w-10 h-10 rounded-full" [src]="post.user.photo" alt="user photo">
                <div class="flex flex-col gap-1">
                    <h1 class="text-sm font-medium">{{post.user.name}}</h1>
                    <span class="text-xs font-medium text-gray-500">{{post.createdAt | date}}</span>
                </div>
            </div>
            <div class="flex items-center gap-2 ">
                <button (click)="confirmBox(post.id)"><i
                        class="fa-regular fa-trash-can text-xl text-red-700"></i></button>
            </div>

        </div>
        <div [routerLink]="'/myPost/'+post.id" class="cursor-pointer flex flex-col gap-3">
            @if (post.body !== 'undefined') {
            <p class="font-medium text-sm">{{post.body}}</p>
            }
            @if (post.image) {
            <img [src]="post.image" class="w-full rounded-md" alt="post photo">
            }
        </div>
        <button #showComments class="text-blue-700 self-start font-medium text-sm">Show comments</button>

        @defer (on interaction(showComments)) {
        <app-comments [postId]="post.id"></app-comments>

        }@loading(minimum 2s) {
        <div class="text-3xl text-center">
            <i class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
        }

    </article>
    }

    @if (currentPage < numberOfPages) {
        @defer(on viewport(end)){
            
                <div class="text-center animate__animated animate__pulse animate__infinite infinite" >
                <i class="fa-regular fa-hand-pointer text-lg text-blue-950 me-1"></i><button class="font-medium text-center mt-2 hover:underline" (click)="getNextPage(currentPage+i)">Press for loading more posts <i class="fa-regular fa-hand-pointer text-lg text-blue-950"></i></button>
                </div>
            
            
        }
    
        <div class="text-3xl text-center">
            <i #end class="fa-solid fa-spinner fa-spin-pulse"></i>
        </div>
    
    }
   
</main>